.category-button {
  border-radius: 5px;
  background-color: #313341;
  color: $color-font;
  border: none;
  font-family: $global-font-family;
  font-weight: 400;
  font-size: 24px;
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
  width: auto;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  height: 50px;
}
@media (max-width: 1461px) {
  .category-button {
    font-size: 16px;
  }
}
@media (max-width: 1169px) {
  .category-button {
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    height: 60px;
    border: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
  }
}

.category-button:hover {
  background-color: gray;
}

.category-button:active {
  background-color: #313341;
}
